.datatable,
.datatable>div,
.datatable.fixed-header .datatable-header .datatable-header-inner {
    height: 100%;
}

// .datatable,
// .datatable>div,
// .datatable-row-even {
//     background-color: grey;
// }
.datatable,
.datatable>div,
.datatable-body {
    height: 80vh;
}

.leftBar {
    height: 90vh;
    overflow-y: scroll;
}

.tree-node {
    width: 20vh;
    background-color: red;
}